* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("images/cup\ cakes.jpeg") left 10% bottom 20%/cover no-repeat border-box;
    /*background-image: url("images/cup\ cakes.jpeg");
    background-size: cover;
    background-position: rleft 5% bottom 20%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;*/
    width: 100%;
    height: 528px;
    padding: 10px;
    position: relative;
}

.section-title {
    color: black;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
   padding: 1rem;
   text-align: center;
}

.plan {
    background: pink;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 8px;
}

.plan--highlighted {
    background: pink;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(100, 100, 100, 0.336);
    border-radius: 8px;
}

.plan__annotation {
    background: white;
    color: pink;
    padding: 8px;
    border-radius: 25px;
}

.plan__title {
    color: white;
}

.plan__price {
    color: white;
}

.plan--highlighted .plan__title {
    color: black;
}

.plan--highlighted .plan__price {
color: white;
}

.plan__fearures {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

/* cambio desde aqui */

@media screen and ( min-width : 50rem){
	.plan {
	max-width: 100rem;
	margin: 0 auto;
    background: rgba(197, 118, 132, 0.616);
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    max-width: 100%;
    vertical-align: center;
    border-radius: 16px;
	}
}

@media screen and ( min-width : 100rem){
	.plan {
        max-width: 100rem;
        margin: 0 auto;
        background: pink;
        text-align: center;
        padding: 70px;
        margin: 8px;
        display: inline-block;
        max-width: 100%;
        vertical-align: center;
        border-radius: 0px;
        }

	}


#key-features {
    background: pink;
    margin-top: 80px;
    padding: 16px;
    text-align: center;
}

#key-features .section-title {
    color: white;
    margin: 32px;
    text-align: center;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: white;
    width: 128px;
    height: 128px;
    border: 2px solid white;
    border-radius: 50%;
    margin: auto;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}